{% extends 'base.html' %}
<!--Title page-->
{% block title%}
<title>{{ post.title_tag }}</title>
{% endblock%}

<!--Title page-->
{% block content%}
<h1 class="mt-5 text-center">{{ post.title }}</h1>
<small>By: {{ post.author.first_name }} {{ post.author.last_name }} </small>
<small>Date: {{ post.post_date }}</small>
<br />
<hr />
<br />
<!-- To keep the html tag in the body we add !safe -->
<!-- |safe -->
{{ post.body |safe }}
<br />
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<!--Add the Form like_blogpost with the button like-->
<br />
<hr />
<form action="{% url 'like_blogpost' post.pk %}" method="POST">
  {% csrf_token %}
  <button
    type="submit"
    ,
    name="like_post_id"
    ,
    value="{{ post.id }}"
    ,
    class="btn btn-primary btn-sm"
  >
    Like - {{ total_likes }}
  </button>
</form>
{% endblock%}
