{% extends 'base.html' %}
<!--Title page-->
{% block title%}
<title>Post Add</title>
{% endblock%}

<!--Title page-->
{% block content%}
<h1 class="mt-5 text-center">Add a new Post</h1>
<!-- Version of Django Form no Bootstrap

<form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <button class="btn btn-primary">Submit</button>
</form>

end of first version -->

{% if user.is_authenticated %}
<!--Customized form with bootstrap-->
<div class="form-group">
  <form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
  var authorvalue = "{{ user.id }}";
  document.getElementById("authorid").value = authorvalue;
</script>

{% else %}
<p>You are not authiticated to go on more...!</p>
{% endif %} {% endblock%}
