{% extends 'base.html' %}
<!--Title page-->
{% block title%}
<title>{{ post.title_tag }}</title>
{% endblock%}

<!--Title page-->
{% block content%}
<h1 class="mt-5 text-center">{{ post.title }}</h1>
<small>By: {{ post.author.first_name }} {{ post.author.last_name }} </small>
<small>Date: {{ post.post_date }}</small>
<br />
<hr />
<br />
<!-- To keep the html tag in the body we add !safe -->
<!-- |safe -->
{% if post.header_image  %}
  <img src="{{ post.header_image.url  }}" alt="" />
{% endif %}
{{ post.body |safe }}
<br />
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<!--Add the Form like_blogpost with the button like-->
<br />
<hr />
<br />
<!--User Profile img and links for the post-->
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      {% if post.author.profile.profile_pic %}
      <img
        src=" {{ post.author.profile.profile_pic.url }}"
        width="200"
        height="200"
      />
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          {{ post.author.first_name}} - {{ post.author.last_name}}
        </h5>
        <p class="text-muted">
          {% if post.author.profile.website_url %}
          <a href="{{ post.author.profile.website_url }}"> Website </a>| 
          {% endif %} 
          {% if post.author.profile.facebook_url %}
          <a href="{{ post.author.profile.facebook_url }}"> Facebook </a>| 
          {% endif %} 
          {% if post.author.profile.twitter_url %}
          <a href="{{ post.author.profile.twitter_url }}"> Twitter </a>| 
          {% endif %} 
          
          {% if post.author.profile.instagram_url %}
          <a href="{{ post.author.profile.instagram_url }}"> Instagram </a>| 
          {% endif %}

        </p>
        <p class="card-text">{{ post.author.profile.bio }}</p>
      </div>
    </div>
  </div>
</div>

<br />
<hr />
<form action="{% url 'like_blogpost' post.pk %}" method="POST">
  {% csrf_token %}
  <!--Check if Like or Unlike based on the context liked-->
  {% if user.is_authenticated %} {% if liked %}
  <button
    type="submit"
    ,
    name="like_post_id"
    ,
    value="{{ post.id }}"
    ,
    class="btn btn-danger btn-sm"
  >
    UnLike - ({{ total_likes }} Likes)
  </button>
  {% else %}
  <button
    type="submit"
    ,
    name="like_post_id"
    ,
    value="{{ post.id }}"
    ,
    class="btn btn-primary btn-sm"
  >
    Like
  </button>
  {% endif %} {% else %}
  <a href="{% url 'login' %}">Login</a> to like {% endif%} - ({{ total_likes }}
  Likes)
</form>
{% endblock%}
