{% extends 'base.html' %}
<!--Title page-->
{% block title%}
<title>Add Comment</title>
{% endblock%}

<!--Title page-->
{% block content%}
<h1 class="mt-5 text-center">Add My comment</h1>

{% if user.is_authenticated %}
<!--Customized form with bootstrap-->
<div class="form-group">
  <form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button class="btn btn-primary">Submit</button>
  </form>
</div>

{% else %}
<p>You are not authenticated to go on more...!</p>
{% endif %} {% endblock%}
